body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    cursor: pointer;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    background-color: #22324a;
}

    .header .page-title {
        margin: 8px;
        font-size: 18px;
        color: white;
    }

    .header .arrow {
        color: white;
        margin: 0 15px;
        font-size: 12px;
    }

    .header .header-link {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

        .header .header-link:hover {
            font-weight: bold;
        }

.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 40px;
    overflow: auto;
    padding: 20px;
    background-color: #0d182a;
    color: white;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    background-color: #22324a;
}

.top-gap {
    margin-top: 20px;
}

.panel-tools {
    margin-bottom: 10px;
}

.error-message {
    color: red;
}

.albums {
}

    .albums .album-day {
    }

        .albums .album-day .album-day-title {
        }

        .albums .album-day .album-day-box-title {
            display: block;
            text-decoration: none;
            color: white;
            cursor: pointer;
            margin-top: 10px;
        }

        .albums .album-day .album-day-box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            align-items: flex-start;
            align-content: flex-start;
            margin-top: 10px;
        }

.album-image {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
    padding: 3px;
    background-color: white;
    box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.8);
}


.album-image-thumb {
    display: block;
    height: 100px;
}


.album-info-editor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    align-content: flex-start;
}

    .album-info-editor .album-info-field {
        margin-right: 5px;
        margin-bottom: 5px;
    }

.album-info {
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 10px;
}

    .photos .photo-block {
        display: block;
        margin: 10px;
        padding: 7px;
        background-color: white;
        box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.8);
    }

        .photos .photo-block a {
            text-decoration: none;
            cursor: pointer;
        }

        .photos .photo-block .thumb {
            height: 300px;
            display: block;
        }

        .photos .photo-block .editing-area {
            font-size: 12px;
            color: black;
            margin-top: 10px;
        }

            .photos .photo-block .editing-area .display-order {
                width: 40px;
            }
