body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    background-color: #22324a;
}

    .header .page-title {
        margin: 8px;
        font-size: 18px;
        text-align: center;
        color: white;
    }

    .header .arrow {
        color: white;
        margin: 0 15px;
        font-size: 12px;
    }

    .header .header-link {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

        .header .header-link:hover {
            font-weight: bold;
        }

.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 40px;
    overflow: auto;
    padding: 20px;
    background-color: #0d182a;
    color: white;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    background-color: #22324a;
}

.top-gap {
    margin-top: 20px;
}

.panel-centered {
    text-align: center;
    margin-bottom: 10px;
}

.error-message {
    color: red;
}

.albums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

    .albums .album-block {
        display: block;
        margin: 10px;
        padding: 10px;
        background-color: white;
        text-decoration: none;
        cursor: pointer;
        width: 400px;
        box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.8);
    }

        .albums .album-block .album-thumb {
            width: 400px;
            height: 300px;
            display: block;
        }

        .albums .album-block .album-title {
            display: block;
            margin-top: 3px;
            width: 400px;
            word-wrap: normal;
            text-align: center;
            color: black;
            font-size: 16px;
        }
