body {
    margin: 0;
    padding: 0;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    background-color: #dddddd;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    overflow: auto;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    background-color: #dddddd;
}
